/*todo esto es de donnde se despliegan los nombres*/
.main{
    margin-top: 3px;
    width: 100px;
    height: 100px;
    padding: 30px;
    background: linear-gradient(60deg,  #23e219,#bffcbc , #ffff, #f5d7e6, #fc3eb5);
    border-radius: 10px;
    color: green;
    clip-path: circle(15.2% at 100% 0);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.main h1{
    margin: 20px 0;
    color: green;
    font-weight: bold;
    font-size: 30px;
}
.main p{
    font-weight: bold;
    line-height: 150%;
}
.main h3{
    margin: 10px 0;
    color: #ccc;
}
.main:hover{
    clip-path: circle(141.4% at 100% 0);
}
.main{
    float: right;

}