body {
    margin: 0px;
    background-color: aliceblue;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    
}


.page-nav {
    
    border: 1px solid black;
    position: relative;
}

.page-nav h1 {
    margin: 20px;
    font-size: small;
}



.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    ;
}

.product-container {
    margin: 17px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
    border-radius: 15px
}

.product-container{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.product-container img {
    height: 200px;
    width: 200px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}
.categoria{
    text-align: center;
    font-size: 25px;
    color: black;
}
